@import 'tailwindcss';

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: 'retro';
    default: true;
    prefersdark: true;
    color-scheme: 'light';
    --color-base-100: #fff0d3;
    --color-base-200: #fae8bd;
    --color-base-300: #eeddb3;
    --color-base-content: #5c4b45;
    --color-primary: #3d2c29;
    --color-primary-content: #fcf1d5;
    --color-secondary: #e5cb9d;
    --color-secondary-content: #5c4b45;
    --color-accent: #b87b63;
    --color-accent-content: #3d2c29;
    --color-neutral: #6e6259;
    --color-neutral-content: #e8dac8;
    --color-info: #7ba7c9;
    --color-info-content: #fff0d3;
    --color-success: #7cb58c;
    --color-success-content: #3d2c29;
    --color-warning: #f0c46c;
    --color-warning-content: #3d2c29;
    --color-error: #c95a52;
    --color-error-content: #fff0d3;
    --radius-selector: 0.25rem;
    --radius-field: 0.5rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}
