---
import Layout from '../layouts/Layout.astro';
---

<Layout
    title="Pumpkin Cheeskace – Ingredients & Shopping List | bakeiq.com"
    description="Pumpkin Cheesecake Ingredients & Shopping List"
    keywords="pumpkin cheesecake, ingredients, shopping list"
>
    <div class="mb-10">
        <h1 class="mb-4">Pumpkin Cheesecake</h1>
        <!-- name of each tab group should be unique -->
        <div class="tabs tabs-lift">
        <input type="radio" name="my_tabs_3" class="tab" aria-label="Ingredients" checked="checked" />
        <div class="tab-content bg-base-100 border-base-300 p-6">
            <ul class="list-none gap-2 flex flex-col">
                <li class="flex items-center border-b border-base-300 pb-2 justify-between"> Pumpkin <span class="text-sm text-base-content font-bold border-2 border-primary rounded-md px-2 py-1">2 cups</span></li>
                <li class="flex items-center border-b border-base-300 pb-2 justify-between"> Sugar <span class="text-sm text-base-content font-bold border-2 border-primary rounded-md px-2 py-1">1 cup</span></li>
                <li class="flex items-center border-b border-base-300 pb-2 justify-between"> Flour <span class="text-sm text-base-content font-bold border-2 border-primary rounded-md px-2 py-1">1 cup</span></li>
                <li class="flex items-center pb-2 justify-between"> Milk <span class="text-sm text-base-content font-bold border-2 border-primary rounded-md px-2 py-1">1 cup</span></li> 
            </ul>
        </div>

        <input type="radio" name="my_tabs_3" class="tab" aria-label="Shopping List" />
        <div class="tab-content bg-base-100 border-base-300 p-6">
            <ul class="list-none gap-2 flex flex-col">
                <li class="flex items-center border-b border-base-300 pb-2"><input type="checkbox" class="checkbox checkbox-xl mr-2" /> Pumpkin</li>
                <li class="flex items-center border-b border-base-300 pb-2"><input type="checkbox" class="checkbox checkbox-xl mr-2" /> Sugar</li>
                <li class="flex items-center border-b border-base-300 pb-2"><input type="checkbox" class="checkbox checkbox-xl mr-2" /> Flour</li>
                <li class="flex items-center pb-2"><input type="checkbox" class="checkbox checkbox-xl mr-2" /> Milk</li> 
            </ul>
        </div>
        </div>
    </div>
</Layout>
