---
import Layout from '../layouts/Layout.astro';
---

<Layout
    title="Pumpkin Cheeskace – Ingredients & Shopping List | bakeiq.com"
    description="Pumpkin Cheesecake Ingredients & Shopping List"
    keywords="pumpkin cheesecake, ingredients, shopping list"
>
    <div class="flex flex-row gap-12 justify-between">
        <div class="max-w-xl pt-4">
            <h1 class="mb-7 font-medium">Smarter Baking Starts Here</h1>
            <p class="text-xl font-medium mb-4 mr-20">Turn any recipe into perfectly scaled ingredients for your pan, in your units – instantly.</p>
            <ul class="list-disc list-inside text-xl font-medium">
                <li>Works on any recipe site</li>
                <li>Converts units automatically</li>
                <li>Adjusts to your pan size</li>
                <li>No account required</li>
            </ul>
        </div>
        <div>
            <img src="/assets/browser.png" />
        </div>
    </div>
</Layout>
